body{
    background-color: rgb(240, 236, 231);
}
.pr-container{
    width: 100%;
    padding: 0;
}
.price{
    font-size: 1.7rem;
    color: #b12704;
    margin: 0;
}
.desc{
    font-size: 2vw !important;
}
.pr-view {
    margin-top: 4vw;
    margin-bottom: 4vw;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: flex-start; 
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
    max-width: 1200px; 
    border-radius: 50px;
    box-sizing: border-box;
    background-color: rgb(247, 244, 241);
    box-shadow: 4px 4px 8px #958b87;
}

.pr-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.pr-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.pr-details h1 {
    font-size: 2rem;
    margin: 0;
}
.pr-details h2 {
    font-size: 1.5rem;
    color: #b12704;
    margin: 0;
}
.pr-details p {
    font-size: 1rem;
    margin: 0;
}
.add-to-cart {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff7700;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 1vw;
    margin-bottom:1vw;
}

.add-to-cart:hover {
    background-color: #ffffff;
    color: #ff7700;
}

.img-container {
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('https://i.ibb.co/ZTLWW4Y/jewelry-panoramic-banner-collage.jpg');
}

.additional-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options {
    display: flex;
    gap: 20px;
    justify-content: left;
    width: fit-content;
}

.option {
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.option.selected {
    border-bottom: 2px solid #000;
    color: #000;

}

.option:hover {
    color: #555;
}
h6{
    margin: 0;
}
@media screen and (max-width: 850px) {
    #root{

    }

    .pr-view{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        background-color: rgb(255, 255, 255);
    }
    .desc{
        font-size: 3vw !important;
    }
    .txt {
        display: flex;
        flex-direction: column;
    }
    .txt h1{
        font-size: 5vw;
    }
    .pr-image{
        width: 60%;
    }
    .pr-details{
        width: 80%;
    }
    .options{
        margin-left: auto;
        margin-right: auto;
    }
    .txt{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .pr-details p {
        text-align: left;
    }
    .desc{
        text-align: center !important;
    }
    button{
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .pr-view{
        width: 80%;
    }
}
@media screen and (max-width: 375px) {
    .option{
        font-size: 3.5vw;
    }
}

